<div *ngIf="userDetailsObj.length === 0;else tableShow">
    <h3 style="text-align:center;color: rgb(218, 66, 66);">"Table is Empty,Please Fill Employee Form"</h3>
</div>
<ng-template #tableShow >
    <div style="padding: 50px;">
    <h3 style="text-align:center;">Employee Table</h3>
    <table class="table table-dark" style="margin-top: 10px;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Dob</th>
            <th>Role</th>
            <th>Phone</th>
            <th>gender</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userDetail of userDetailsObj">
                <td>{{userDetail.userName}}</td>
                <td>{{userDetail.address}}</td>
                <td>{{userDetail.date}}</td>
                <td>{{userDetail.role}}</td>
                <td>{{userDetail.phone}}</td>
                <td>{{userDetail.genderControl}}</td>
            </tr>
         
        </tbody>
      </table>
    
    
    
    
    <!-- 
    <pre>{{userDetailsObj| json}}</pre> -->
</div>
</ng-template>