<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/form">Employee Details</a>

    <div class="d-flex align-items-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
       
        <li className="nav-item">
          <a class="nav-link" routerLink="/form">Employee form</a>
        </li>
        <li className="nav-item">
          <a class="nav-link" routerLink="/data">Employee data</a>
        </li>
       
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>











